.App {
  text-align: center;
  max-width: 100%;
}

header {
  background-color: black;
  color: white;
}

main>div {
  max-width: 100%;
  display: grid;
  grid-template-areas: 
    "form form form"
    "trendings touits touits";
  grid-template-columns: repeat(3, 1fr);
}

.btn {
  cursor: pointer;
  min-height: 2rem;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  font-weight: 700;
  padding : 5px 15px;
  font-size: .8rem;
  text-decoration: none;
}

.sendForm {
  grid-area: form;
  display: flex;
  align-items: center;
  justify-self: center;
}

.sendForm div > * {
  height: 20px;
  margin: 5px;
  padding: 5px;
  border: 1px grey solid;
}

.sendForm textarea {
  width: 600px;
}

.trendingsContainer {
  grid-area: trendings;
  border: 1px solid black;
  margin: 10px;
}

.trendingsContainer ul {
  display: flex;
  flex-direction: column;
}

.touitsContainer {
  grid-area: touits;
  max-width: 100%;
}

.touit {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
  padding-left: 0;
}

.touit>li {
  border: 1px solid black;
  padding: 15px;
  margin-bottom : 5px;
}

.touitsContainer ul li p {
  word-wrap: break-word;
}

li {
  list-style: none;
}

.touitDetails {
  display: flex;
  justify-content: space-around;
}

.single-touit {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}